* {
    margin: 0;
}
html, body {
    text-align:center;
    width:100%;
    height:100%;
    background-color: #000000;   
}
.wrapper {
    height: auto !important;
    margin: 0 auto -4em;
}
body > * >*{
    width:1280px;
    margin:0 auto;
    text-align:left;
    height:100%;
}


header{        
    width:100%;
    height:100px;
    background-color: #333333;   
    float:left;
}

footer{    
    width:100%; 
    position:fixed;
    margin: 0 auto -50px;
    float:left;
    height: 4em;
    background-color: #003333; 
}



.canvas{
    height: 100%;
    background-color: #000011;    
    box-shadow: 10px 10px 6310px 100px #00ccff,-10px 10px 6310px 200px blueviolet,-50px 10px 6310px 100px #ff0066,0px -50px 6310px 170px #ff0066;
}

h1{
    text-align: left;
    font-size:30px;
    box-shadow: 3px;   
    color:#ccccff;
    padding:30px 50px 20px 50px;
}
h3{
    text-align: left;
    font-size:15px;
    box-shadow: 3px;   
    color:#99ccff;
    font-style: italic;
    padding:30px 50px 20px 50px;
}